<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CosmodDBEndPoint" value="https://bharathconduentpoc.documents.azure.com:443/" />
    <add key="CosmosDBMasterKey" value="tDtBNe3dSwCJnO7cAY6MuL8OinBAhsmd3lWBHJYkubWScZd3SSZded1GK1nQRVXIhjVUMu7zGRD8KF6tK0BYbQ=="/>
  </appSettings>
</configuration>